<!DOCTYPE html>
<html lang="de">

<head>
  <%- include("./partials/baseHead.ejs") %>

  <link rel="stylesheet" href="/css/citations.css">
  <script src="/js/citations.js"></script>
  <script src="/js/partials/autocomplete.js"></script>
  <link rel="stylesheet" href="/css/autocomplete.css">
  <title>Zitate</title>
</head>

<body>
  <%- include("./partials/header.ejs") %>

  <div class="newCitationBox">
    <h1>Ein neues Zitat einreichen</h1>
    <div class="sentenceStructure">
      <div class="author autocomplete">
        <textarea type="text" name="author" id="author" placeholder="Herr Treetzen" pattern='[^"]+' oninput='this.value = this.value.replace(/[\n]/g,"")' required></textarea>
      </div>
      <p> hat </p>
      <div class="content">
        <textarea type="text" name="content" id="content" placeholder="ein lustiges Zitat" pattern='[^"]+' oninput='this.value = this.value.replace(/[\n]/g,"")' required></textarea>
      </div>
      <p> gesagt.</p>
    </div>
    <button id="citationSubmit" onclick="submitCitation()">Submit</button>
  </div>

  <h1>Zitate</h1>
  <div class="citationsBox" id="citationBox">
  </div>

  <% if (pages > 1) { %>
  <div class="pageSelector">
    <% for (let i=1; i <=pages; i++) { %>
    <a href="?page=<%= i %>" class="page-selection <%= (typeof currentPage !== 'undefined' && currentPage == i) ? 'page-current' : '' %>">
      <%= i %>
    </a>
    <% } %>
  </div>
  <% } %>


</body>

</html>