<!DOCTYPE html>
<html lang="de">

<head>
  <%- include("./partials/baseHead.ejs") %>
  <title>Games</title>
  <link rel="stylesheet" href="/css/games.css">
  <script src="/js/games.js"></script>
</head>

<body>
  <%- include("./partials/header.ejs") %>

  <div class="gameBox">

    <% for( let i = 0; i < games.length; i++ ) { %>
    <div class="game">
      <h2><%= games[i].name %></h2>
      <p> <%= games[i].description %> </p>
      <% if (games[i].singleplayer) { %>
      <button onclick="playSinglePlayer('<%= games[i].url %>')" data-lang-content="games selector play_singleplayer">Play alone</button>
      <% } %>
      <% if (games[i].multiplayer) { %>
      <button class="connectButton" onclick="discoverOtherPlayers('<%= games[i].url %>')" data-lang-content="games selector search_for_others">Search for other Players</button>
      <% } %>
    </div>
    <% } %>

  </div>

  <div id="connectionModal" class="modal">
    <span id="modalClose" class="close" title="Close Modal">&times;</span>

    <form class="modal-content animate">

      <h1 id="title" data-lang-content="games selector modal title">Mit wem möchtest du dich verbinden?</h1>

      <div id="playerConnections">

      </div>

      <div id="createInvite">
        <a id="createInviteButton" class="createInviteButton button" data-lang-content="games selector modal create_invite">Create Invite</a>
        <input id="inviteLink" type="text" readonly style="display: none; width: 390px">
        <button id="copyLink" style="display: none" data-lang-content="games selector modal copy_link">Copy Link</button>
      </div>

    </form>
  </div>

  </div>

</body>

</html>