<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <script src="/js/helloworld.js"></script>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>

    <%- include("../partials/header.ejs") %>

    <h1>Hello, <%= typeof username !=='undefined' ? username : 'World' %></h1>
    <p>You viewed this page <%= views %> times.</p>

    <form method="post" action="internal/login">
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="password">Password</label>
        <input type="password" name="password">
        <input type="submit" class="button">
    </form>

    <form method="get" action="internal/logout">
        <input type="submit" value="Logout" class="button">
    </form>

    <br>

    <form method="post" action="internal/createTextPost">
        <label for="title">Text</label>
        <input type="text" name="title" required>
        <label for="content">Content</label>
        <textarea name="content" rows="4" required></textarea>
        <input type="checkbox" name="teachersafe" value="teachersafe"> Teachersafe
        <input type="submit" value="Create Post" class="button">
    </form>

    <br>

    <form method="post" enctype="multipart/form-data" action="internal/createFilePost">
        <label for="title">Images/PDF</label>
        <input type="text" name="title" required>
        <input type="file" name="upload" accept=".pdf,image/*">
        <input type="checkbox" name="teachersafe" value="teachersafe"> Teachersafe
        <input type="submit" value="Create Post" class="button">
    </form>

    <br><br>

    <div>
        <label>Select Page:</label>
        <% for (let i = 1; i <= pages; i++) { %>
            <a href="?page=<%= i %>" style="margin: 0 5px; text-decoration: none; padding: 5px 10px; border: 1px solid #000; border-radius: 5px; <%= (typeof currentPage !== 'undefined' && currentPage == i) ? 'font-weight: bold; background-color: #f0f0f0; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);' : '' %>"><%= i %></a>
        <% } %>
    </div>

    <br><br>

    <div style="border: 1px solid #ccc; overflow-y: auto; padding: 10px; height: calc(100vh - 400px);" id="postBox">
        
    </div>

</body>

</html>