<!DOCTYPE html>
<html lang="de">

<head>
  <%- include("./partials/baseHead.ejs") %>

  <title>Life Science Transmitter</title>
  <script src="js/index.js"></script>
  <script src="/js/partials/postRenderer.js"></script>
  <script src="/js/partials/commentRenderer.js"></script>
  <link rel="stylesheet" href="/css/sections.css">
</head>

<body>

  <%- include("./partials/header.ejs") %>
  <%- prank %>

  <h1>Hello, <%= typeof username !=='undefined' ? username : 'World' %></h1>
  <label for="onlyNews">Nur Zeitungen anzeigen</label>
  <input type="checkbox" id="onlyNews" name="onlyNews">

  <div id="postBox" class="postBox">
  </div>
  <% if (pages > 1) { %>
    <div class="pageSelector">
      <% for (let i=1; i <=pages; i++) { %>
      <a onclick="changePage(<%= i %>)" class="page-selection <%= (typeof currentPage !== 'undefined' && currentPage == i) ? 'page-current' : '' %>">
        <%= i %>
      </a>
      <% } %>
    </div>
  <% } %>

  <div id="commentModal" class="modal">
    <span id="modalClose" class="close" title="Close Modal">&times;</span>

    <form class="modal-content animate">

      <h1 id="title">Kommentare</h1>
      <div class="newCommentContainer">
        <p for="commentTextarea">Verfasse einen neuen Kommentar:</p>
        <textarea id="commentTextarea" placeholder="Das ist ja das lustigste was ich jemals gesehen habe!" name="comment" required></textarea>
        <button type="button" id="commentButton" class="commentButton">Kommentieren</button>
      </div>
      <h2 id="commentTitle">Kommentare</h2>
      <div id="commentContainer" class="commentContainer">
      </div>

    </form>
  </div>

</body>

</html>

<script>
  const loggedIn = <%= typeof username !== 'undefined' ? true : false %>;
</script>