<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello World</title>
  <script src="js/index.js"></script>
  <script src="/js/partials/header.js"></script>
  <!-- Will fix in next commit -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/sections.css">
</head>

<body>

  <%- include("./partials/header.ejs") %>

  <h1>Hello, <%= typeof username !=='undefined' ? username : 'World' %></h1>
  <div>
    <label>Select Page:</label>
    <% for (let i=1; i <=pages; i++) { %>
    <a href="?page=<%= i %>" class="page-selection <%= (typeof currentPage !== 'undefined' && currentPage == i) ? 'page-current' : '' %>">
      <%= i %>
    </a>
    <% } %>
  </div>

  <br><br>

  <div id="postBox" class="postBox">

  </div>

</body>

</html>