<!DOCTYPE html>
<html lang="de">

<head>
  <%- include("./partials/baseHead.ejs") %>

  <title>Life Science Transmitter</title>
  <script src="js/index.js"></script>
  <script src="/js/partials/postRenderer.js"></script>
  <link rel="stylesheet" href="/css/sections.css">
</head>

<body>

  <%- include("./partials/header.ejs") %>
  <%- prank %>

  <h1>Hello, <%= typeof username !=='undefined' ? username : 'World' %></h1>

  <div id="postBox" class="postBox">
  </div>
  <div class="pageSelector">
    <% for (let i=1; i <=pages; i++) { %>
    <a href="?page=<%= i %>" class="page-selection <%= (typeof currentPage !== 'undefined' && currentPage == i) ? 'page-current' : '' %>">
      <%= i %>
    </a>
    <% } %>
  </div>

</body>

</html>