<!DOCTYPE html>
<html lang="de">
<head>
  <%- include("./partials/baseHead.ejs") %>

  <title data-lang-content="name">Life Science Transmitter</title>
  <script src="js/index.js"></script>
  <script src="/js/partials/postRenderer.js"></script>
  <script src="/js/partials/commentRenderer.js"></script>
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>

 <%- include('./partials/base.ejs') %>
  <%- prank %>

  <h1 data-lang-content="posts hello" data-lang-arguments='{"username": "<%= typeof username !=='undefined' ? username : 'World' %>"}'>Hello, <%= typeof username !=='undefined' ? username : 'World' %></h1>
  <% if (isInSchool === true) { %>
   <p>Du bist in der Schule</p>
  <% } %>
  <label for="onlyNews" data-lang-content="posts only_show_news">Nur Zeitungen anzeigen</label>
  <input type="checkbox" id="onlyNews" name="onlyNews">

  <div id="postBox" class="postBox">
    <!-- this is where the posts will be -->
  </div>

  <div class="content">
    <div class="section-devider">
      <img src="/icons/ring-on-fire.svg" alt="section-devider">
    </div>

    <div class="section">
      <div class="frame-design important" id="news">
        <p>News</p>
      </div>
      <div class="frame-design important" id="citations">
        <p>Citations</p>
      </div>
    </div>

    <div class="section-devider">
      <img src="/icons/ring-on-fire.svg" alt="section-devider">
    </div>

    <div class="section">
      <div class="frame-design" id="games">
        <p>Spiele</p>
      </div>
      <div class="frame-design" id="community-posts">
        <p>Community Posts</p>
      </div>
      <div class="frame-design" id="create-community-post">
        <p>Post erstellen</p>
      </div>
      <div class="frame-design" id="chat">
        <p>Chat</p>
      </div>
    </div>

    <div class="section">
      <div class="frame-design" id="logout">
        <p>Logout</p>
      </div>
      <div class="frame-design" id="settings">
        <p>Einstellungen</p>
      </div>
    </div>
  </div>

</body>

</html>