<!DOCTYPE html>
<html lang="<%= preferences.find(p => p.key === 'language')?.value %>">

<head>
  <%- include("./partials/baseHead.ejs") %>

  <title data-lang-content="name">Life Science Transmitter</title>
  <script src="js/index.js"></script>
  <script src="/js/partials/postRenderer.js"></script>
  <script src="/js/partials/commentRenderer.js"></script>
  <link rel="stylesheet" href="/css/sections.css">
</head>

<body>

 <%- include('./partials/base.ejs') %>
  <%- prank %>

  <h1 data-lang-content="posts hello" data-lang-arguments='{"username": "<%= typeof username !=='undefined' ? username : 'World' %>"}'>Hello, <%= typeof username !=='undefined' ? username : 'World' %></h1>
  <label for="onlyNews" data-lang-content="posts only_show_news">Nur Zeitungen anzeigen</label>
  <input type="checkbox" id="onlyNews" name="onlyNews">

  <div id="postBox" class="postBox">
    <!-- this is where the posts will be -->
  </div>
  <div id="pageSelector" class="pageSelector"></div>

  <div id="commentModal" class="modal">
    <span id="modalClose" class="close" title="Close Modal">&times;</span>

    <form class="modal-content animate">

      <h1 id="title" data-lang-content="comment_modal title"></h1>
      <div class="newCommentContainer">
        <p for="commentTextarea" data-lang-content="comment_modal new_comment"></p>
        <textarea id="commentTextarea" class="online-only" data-lang-content-placeholder="comment_modal comment_placeholder" name="comment" required></textarea>
        <button type="button" id="commentButton" class="commentButton online-only" data-lang-content="comment_modal submit"></button>
      </div>
      <h2 id="commentTitle" data-lang-content="comment_modal title"></h2>
      <div id="commentContainer" class="commentContainer">
      </div>

    </form>
  </div>

</body>

</html>