<!DOCTYPE html>
<html lang="<%= (typeof preferences !== "undefined" && preferences.find(p => p.key === 'language')?.value) || 'de' %>">

<head>
  <%- include("./partials/baseHead.ejs") %>
  <title id="title"><%= postID %></title>
  <script src="/js/partials/postRenderer.js"></script>
  <script src="/js/partials/commentRenderer.js"></script>
  <link rel="stylesheet" href="/css/sections.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.7.76/pdf.min.mjs" type="module"></script>
</head>

<body>
 <%- include('./partials/base.ejs') %>

  <div id="postBox" class="postBox" style="margin-top: 2%;"></div>
</body>

</html>

<script>
  document.addEventListener('DOMContentLoaded', async () => {
    const req = await fetch(`/internal/getPost/<%= postID %>`);
    const post = req.json();
    document.getElementById('title').innerText = (await post).title;
    console.log(await post);
    buildPost(await post);
  });
</script>