<!DOCTYPE html>
<html lang="de">

<head>
  <%- include("./partials/baseHead.ejs") %>
  <script src="/js/settings.js"></script>
  <title>Settings</title>
  <link rel="stylesheet" href="/css/settings.css">
  <% if (isAdmin) { %>
  <link rel="stylesheet" href="/css/adminSettings.css">
  <script src="/js/partials/adminSettings.js"></script>
  <% } %>
</head>

<body>
  <%- include("./partials/header.ejs") %>

  <div class="settingsBox">
    <h1 data-lang-content="settings title">Settings</h1>
    <div class="enablePushContainer setting">
      <label for="enablePush" data-lang-content="settings push title">Push Notifications</label>
      <% if (enabledPush) { %>
      <button id="enablePush" data-lang-content="settings push title_to_this_device">Zu diesem Gerät verlagern</button>
      <div id="pushTypesSettings">
        <div id="pushTypes" class="pushTypes">
          <li><input type="checkbox" id="newsPushCheckbox" name="news" value="news" <%= preferences.find(p => p.key === 'newsNotifications')?.value ? 'checked' : '' %>>
            <label for="news" data-lang-content="settings push checkboxes news">News</label>
          </li>
          <li><input type="checkbox" id="postsPushCheckbox" name="posts" value="posts" <%= preferences.find(p => p.key === 'postNotifications')?.value ? 'checked' : '' %>>
            <label for="citations" data-lang-content="settings push checkboxes posts">Posts</label>
          </li>
          <li>
            <input type="checkbox" id="citationsPushCheckbox" name="citations" value="citations" <%= preferences.find(p => p.key === 'citationNotifications')?.value ? 'checked' : '' %>>
            <label for="citations" data-lang-content="settings push checkboxes citations">Citations (coming)</label>
          </li>
          <li>
            <input type="checkbox" id="commentsPushCheckbox" name="comments" value="comments" <%= preferences.find(p => p.key === 'commentNotifications')?.value ? 'checked' : '' %>>
            <label for="comments" data-lang-content="settings push checkboxes comments">Comments (coming)</label>
          </li>
        </div>
      </div>
      <% } else { %>
      <button id="enablePush">Enable</button>
      <% } %>

    </div>

    <div class="profilePictureContainer setting">
      <label for="head" data-lang-content="settings pick_profile_picture">Pick Profile Picture Color</label>
      <p class="defaultProfilePicture" id="profilePicturePreview" style="background-color: <%= profilePic.content%>; cursor: pointer;"">
        <%= username.charAt(0).toUpperCase() %>
        <input type=" color" id="profilePictureColorPicker" class="ColorPicker" value=<%= profilePic.content %> />
      </p>
      <button id="profilePictureColorSubmit">Save</button>
    </div>

    <div class="apiKeysContainer setting">
      <label for="apiKeys" data-lang-content="settings api_key">API Key</label>
      <input type="text" value="<%= apiKey %>" id="apiKey">
    </div>

    <div class="languageContainer setting">
      <label for="language" data-lang-content="settings language">Language</label>
      <select id="language">
        <option value="de" <%= preferences.find(p => p.key === 'language')?.value === 'de' ? 'selected' : '' %>>Deutsch</option>
        <option value="en" <%= preferences.find(p => p.key === 'language')?.value === 'en' ? 'selected' : '' %>>English</option>
        <option value="pl" <%= preferences.find(p => p.key === 'language')?.value === 'pl' ? 'selected' : '' %>>Polski</option>
        <option value="tlh" <%= preferences.find(p => p.key === 'language')?.value === 'tlh' ? 'selected' : '' %>>Klingon</option>
      </select>
    </div>

      <% if (isAdmin) { %>
      <%- include('./partials/adminSettings.ejs') %>
      <% } %>
    </div>

</body>

</html>