<!DOCTYPE html>
<html lang="de">

<head>
  <%- include("./partials/baseHead.ejs") %>
  <script src="/js/settings.js"></script>
  <title data-lang-content="settings title">Settings</title>
  <link rel="stylesheet" href="/css/settings.css">
  <% if (isAdmin) { %>
  <link rel="stylesheet" href="/css/adminSettings.css">
  <script src="/js/partials/adminSettings.js"></script>
  <% } %>
</head>

<body>
 <%- include('./partials/base.ejs') %>

  <div class="settingsBox">
    <h1 data-lang-content="settings title">Settings</h1>
    <div class="enablePushContainer setting">
      <label for="enablePush" data-lang-content="settings push title">Push Notifications</label>
      <% if (enabledPush) { %>
      <button id="enablePush" class="online-only" data-lang-content="settings push title_to_this_device">Zu diesem Gerät verlagern</button>
      <div id="pushTypesSettings">
        <div id="pushTypes" class="pushTypes">
          <li><input type="checkbox" id="newsPushCheckbox" class="online-only" name="news" value="news" <%= preferences.find(p => p.key === 'newsNotifications')?.value ? 'checked' : '' %>>
            <label for="news" data-lang-content="settings push checkboxes news">News</label>
          </li>
          <li><input type="checkbox" id="postsPushCheckbox" class="online-only" name="posts" value="posts" <%= preferences.find(p => p.key === 'postNotifications')?.value ? 'checked' : '' %>>
            <label for="citations" data-lang-content="settings push checkboxes posts">Posts</label>
          </li>
          <li>
            <input type="checkbox" id="citationsPushCheckbox" class="online-only" name="citations" value="citations" <%= preferences.find(p => p.key === 'citationNotifications')?.value ? 'checked' : '' %>>
            <label for="citations" data-lang-content="settings push checkboxes citations">Citations (coming)</label>
          </li>
          <li>
            <input type="checkbox" id="commentsPushCheckbox" class="online-only" name="comments" value="comments" <%= preferences.find(p => p.key === 'commentNotifications')?.value ? 'checked' : '' %>>
            <label for="comments" data-lang-content="settings push checkboxes comments">Comments (coming)</label>
          </li>
        </div>
      </div>
      <% } else { %>
      <button id="enablePush" data-lang-content="settings enable">Enable</button>
      <% } %>

    </div>

    <div class="profilePictureContainer setting">
      <label for="head" data-lang-content="settings pick_profile_picture">Pick Profile Picture Color</label>
      <p class="defaultProfilePicture" id="profilePicturePreview" style="background-color: <%= profilePic.content%>; cursor: pointer;">
        <%= username.charAt(0).toUpperCase() %>
        <input type="color" id="profilePictureColorPicker" class="ColorPicker" value="<%= profilePic.content %>" />
      </p>
      <button id="profilePictureColorSubmit" class="online-only" >Save</button>
    </div>

    <div class="apiKeysContainer setting">
      <label for="apiKeys" data-lang-content="settings api_key">API Key</label>
      <input type="text" value="<%= apiKey %>" id="apiKey">
    </div>

    <div class="languageContainer setting">
      <label for="language" data-lang-content="settings language">Language</label>
      <select id="language" class="online-only">
        <% for( let i = 0; i < languages.length; i++ ) { %>
          <option value="<%= languages[i] %>" <%= preferences.find(p => p.key === 'language')?.value === languages[i] ? 'selected' : '' %> data-lang-content="languages <%= languages[i] %>"><%= languages[i] %></option>
        <% } %>
      </select>
    </div>


    <% if (isAdmin) { %>
    <%- include('./partials/adminSettings.ejs') %>
    <% } %>
  </div>

</body>

</html>