<!DOCTYPE html>
<html lang="de">

<head>
  <%- include("./partials/baseHead.ejs") %>
  <script src="/js/settings.js"></script>
  <title data-lang-content="settings title">Settings</title>
  <link rel="stylesheet" href="/css/settings.css">
  <% if (isAdmin) { %>
  <link rel="stylesheet" href="/css/adminSettings.css">
  <script src="/js/partials/adminSettings.js"></script>
  <% } %>
</head>

<body>
  <%- include('./partials/base.ejs') %>

  <div class="settingsBox">
    <h1 data-lang-content="settings title">Settings</h1>
    <div class="enablePushContainer setting">
      <label for="enablePush" data-lang-content="settings push title">Push Notifications</label>
      <% if (enabledPush) { %>
      <button id="enablePush" class="online-only" data-lang-content="settings push title_to_this_device">Zu diesem Gerät verlagern</button>
      <div id="pushTypesSettings">
        <div id="pushTypes" class="pushTypes">
          <li><input type="checkbox" id="newsPushCheckbox" class="online-only" name="news" value="news" <%= preferences.find(p => p.key === 'newsNotifications')?.value ? 'checked' : '' %>>
            <label for="news" data-lang-content="settings push checkboxes news">News</label>
          </li>
          <li><input type="checkbox" id="postsPushCheckbox" class="online-only" name="posts" value="posts" <%= preferences.find(p => p.key === 'postNotifications')?.value ? 'checked' : '' %>>
            <label for="citations" data-lang-content="settings push checkboxes posts">Posts</label>
          </li>
          <li>
            <input type="checkbox" id="citationsPushCheckbox" class="online-only" name="citations" value="citations" <%= preferences.find(p => p.key === 'citationNotifications')?.value ? 'checked' : '' %>>
            <label for="citations" data-lang-content="settings push checkboxes citations">Citations (coming)</label>
          </li>
          <li>
            <input type="checkbox" id="commentsPushCheckbox" class="online-only" name="comments" value="comments" <%= preferences.find(p => p.key === 'commentNotifications')?.value ? 'checked' : '' %>>
            <label for="comments" data-lang-content="settings push checkboxes comments">Comments (coming)</label>
          </li>
        </div>
      </div>
      <% } else { %>
      <button id="enablePush" data-lang-content="settings enable">Enable</button>
      <% } %>

    </div>

    <div class="profilePictureContainer setting">
      <label for="head" data-lang-content="settings pick_profile_picture_color">Pick Profile Picture Color</label>
      <% if (profilePic.type == "default") { %>
      <p class="profilePicture clickable" id="profilePictureColorPreview" style="background-color: <%= profilePic.content%>;">
        <%= username.charAt(0).toUpperCase() %>
        <input type="color" id="profilePictureColorPicker" class="hiddenInput" value="<%= profilePic.content %>" />
      </p>
      <button id="profilePictureColorSubmit" class="online-only">Save</button>
      <% } %>
      <% if (profilePic.type == "custom") { %>
      <img class="profilePicture" src="https://storage.liscitransmitter.live/<%= profilePic.content %>">
      <% } %>

      <button id="selectPicture" class="online-only button" data-lang-content="settings pick_profile_picture" onclick="openModal('', 'profilePictureModal')">Pick Profile Picture</button>
    </div>

    <div class="modal" id="profilePictureModal">
      <h1 id="title">Pick Profile Picture</h1>

      <div class="pickPicture">
        <% if (profilePic.type == "default") { %>
        <p class="profilePicture enlarged clickable" style="background-color: <%= profilePic.content%>;" onclick="document.getElementById('profilePicture').click()">
          <%= username.charAt(0).toUpperCase() %>
          <input type="file" id="profilePicture" accept=".jpg,.jpeg,.png,.webp,.heic" class="hiddenInput" onchange="onProfilePictureChange(this)" />
        </p>
        <% } %>
        <% if (profilePic.type == "custom") { %>
        <img class="profilePicture enlarged clickable" src="https://storage.liscitransmitter.live/<%= profilePic.content %>" onclick="document.getElementById('profilePicture').click()">
        <input type="file" id="profilePicture" accept=".jpg,.jpeg,.png,.webp,.heic" class="hiddenInput" onchange="onProfilePictureChange(this)" />
        <% } %>
        <img id="profilePicturePreview" class="hidden" />

      </div>

      <div class="scaleSliderContainer">
        <label for="scaleSlider" data-lang-content="settings scale">Scale</label>
        <input type="range" id="scaleSlider" min="1" max="5" step="0.01" value="1" oninput="onScaleChange(this)">
      </div>
      <div class="horizontal">
        <button id="profilePictureReset" class="online-only button" data-lang-content="settings reset" onclick="resetProfilePicture()" type="button">Reset</button>
        <button id="profilePictureSubmit" class="online-only button" data-lang-content="settings save" onclick="submitProfilePicture()" type="button">Save</button>
      </div>
    </div>

    <div class="apiKeysContainer setting">
      <label for="apiKeys" data-lang-content="settings api_key">API Key</label>
      <input type="text" value="<%= apiKey %>" id="apiKey">
    </div>

    <div class="languageContainer setting">
      <label for="language" data-lang-content="settings language">Language</label>
      <select id="language" class="online-only">
        <% for( let i = 0; i < languages.length; i++ ) { %>
        <option value="<%= languages[i] %>" <%= preferences.find(p => p.key === 'language')?.value === languages[i] ? 'selected' : '' %> data-lang-content="languages <%= languages[i] %>"><%= languages[i] %></option>
        <% } %>
      </select>
    </div>


    <% if (isAdmin) { %>
    <%- include('./partials/adminSettings.ejs') %>
    <% } %>
  </div>

</body>

</html>