<!DOCTYPE html>
<html lang="de">

<head>
  <%- include("./partials/baseHead.ejs") %>
  <script src="/js/settings.js"></script>
  <title>Settings</title>
  <link rel="stylesheet" href="/css/settings.css">
</head>

<body>
  <%- include("./partials/header.ejs") %>

  <div class="settingsBox">
    <h1>Settings</h1>
    <div class="enablePushContainer">
      <label for="enablePush">Push Notifications</label>
      <button id="enablePush">Enable</button>
    </div>

    <div class="profilePictureContainer">
      <label for="head">Pick Profile Picture Color</label>
      <p class="defaultProfilePicture" id="profilePicturePreview" style="background-color: <%= profilePic.content%>; cursor: pointer;"">
        <%= username.charAt(0).toUpperCase() %>
        <input type="color" id="profilePictureColorPicker" class="ColorPicker" value=<%= profilePic.content %> />
      </p>
      <button id="profilePictureColorSubmit">Save</button>
    </div>

    <div class="apiKeysContainer">
      <label for="apiKeys">API Key</label>
      <input type="text" disabled="disabled" value="<%= apiKey %>" id="apiKeys">
      <button id="copyApiKey" onclick="navigator.clipboard.writeText('<%= apiKey %>')">Copy</button>
  </div>

</body>

</html>